RewriteEngine On

# Redirect /track to /track.php
RewriteRule ^track/?$ track.php [L]

# Redirect /track/tracking to /track/tracking.php
RewriteRule ^track/tracking/?$ track/tracking.php [L]

# Handle other requests
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]
